.main__container {
    width: 100%;
    margin: 0 auto;
    min-width: 600px;
    max-width: 1110px;
    display: grid;
    gap: 12px 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main__container .item-1 {
    grid-column: 1 / 3;
}
.main__container .item-2 {
    grid-column: 3 / 4;
}
.main__container .item-3 {
    grid-column: 1 / 2;
}
.main__container .item-4 {
    grid-column: 2 / 4;
}
.main__container .item-5 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.main__container .item-1, .item-2, .item-5
{
    margin-top: 50px;
}

.main__container-article  .card-1{
    margin-top: 0;
    max-width:  650px;
}
.main__container-article .main__container-article--card {
    width: 100%;
    margin-bottom: 0px;
    max-width: 900px;
}
.main__container-article .card-3 h3 {
    margin: 24px 0 32px 0;
}
.main__container-article .card-5 h3 {
    margin:18px 0 28px 0;
}
